{% raw %}
@import 'vars';
// Base styles
//
// Many of these are necessary for the Quick tool to transpile into working
// HTML email code. They must be used in your html.

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    width: 100%;
    display: block;
    border: 0;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.row {
    // Becomes <table><tr></tr></table>
    width: 100%
}

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

.column {
   // Becomes <td></td>
   float: left;
}
{% endraw %}
