{% raw %}
@import 'vars';
// Base styles
//
// Many of these are necessary for the Quick tool to transpile into working
// HTML email code. They must be used in your html.

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: none;
    background: $background-color;
}

p {
    margin-top: $paragraph-top;
    margin-bottom: $paragraph-bottom;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    width: 100%;
    display: block;
    border: 0;
}

.container {
    width: $full-width;
    margin: 0 auto;
}

.row {
    // Becomes <table><tr></tr></table>
    width: 100%
}

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

.column {
   // Becomes <td></td>
   float: left;
}

img.full {
    width: $full-width !important;
}

img.content {
    width: $content-width !important;
}

.offset {
    width: $offset-width;
}

.main {
    width: $content-width;
}

.content {
    background: $content-background-color;
}

p, ul li {
    font-family: $body-font-family;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: $base-line-height;
    color: $text-color;

    &.small {
        font-size: $small-font-size;
        line-height: $small-line-height;
    }
}

h1, h2, h3 {
    font-family: $heading-font-family;
    color: $alpha-color;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $beta-color;
}

.button-contain {
    width: 100%;
}

.button {
    &.secondary {
        background: $beta-color;
    }
    a {
        color: #fff;
    }
    width: $button-width;
    background: $button-bg-color;
    color: $button-color;
    text-align: center;
    text-transform: uppercase;
}

.button-spacing-left {
    width: $button-spacing-left;
}

.button-spacing-right {
    width: $button-spacing-right;
}

{% endraw %}
