// Colors
$alpha-color: #abb037;
$beta-color: #143721;
$delta-color: #272727;
$text-color: #6c6362;
$heading-color: #225334;
$background-color: #f1f1f1;
$content-background-color: #fff;

// width
$full-width: 620px;
$offset-width: 60px;
$content-width: 500px;

// Fonts
$heading-font-family: 'Trebuchet MS', sans-serif;
$body-font-family: Arial, sans-serif;
$base-font-size: 13px;
$base-line-height: 18px;
$small-font-size: 9px;
$small-line-height: 11px;
$h1-size: 25px;
$h2-size: 18px;

// Spacing
$paragraph-top: 15px;
$paragraph-bottom: 15px;

// Buttons
$button-width: 250px;
$button-spacing-left: 75px;
$button-spacing-right: 75px;
$button-color: #fff;
$button-bg-color: $alpha-color;
$button-secondary-color: $beta-color;
